# Configuration Environment
APP_ENV=production

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=False
RELOAD=False

# Application Details
APP_NAME=Attestation Service
APP_VERSION=1.0.0

# Logging
LOG_LEVEL=INFO

# CORS configuration
CORS_ORIGINS=["https://myfrontend.company.com"]

# Google Cloud & Firestore Configuration
FIRESTORE_PROJECT_ID=my-gcp-project-id
FIRESTORE_DB_NAME=(default)

# GCS Bucket configurations for Evidence uploads
GCS_BUCKET_NAME=my-attestation-evidence-bucket-prod
